.main-head {
    font-size: 75px;
}

.card {
    padding: 5px;
}

.card .card-text {
    font-weight: bold;
}

.jumbotron {
    margin-bottom: 50px;
}

.space {
    margin: 200px;
}

.featured-img {
    padding: 0px;
}


.featured-title {
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}

.hem-title {
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}

.facts-title{
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}

.container {
    font-family: sans-serif;
}

.news-text {
    margin-top: 0;
    font-weight: bold;
}

h1{
    /* color:lightskyblue;
    text-shadow: 0px 1px 2px white, 0 0 1em white; */
    font-size: 75px;
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}

h2 {
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}

.top-space {
    margin: 100px;
}
.head-card {
    padding: 0;
    margin-bottom: 0;
}

body {
    background-image: url("../img/PIA23121-1600x1200.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

.nasa-logo {
    background-image: url("../img/NASA_logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

.weather{
    padding: 0px;
}



.weather-title{
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}

.latest-title{
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}
 .facts {
    border-color: white;
    border: solid;
    color: white;
 }

 th, td {
    border: 2px solid white;
  }
tr:nth-child(odd)		{ background-color: gray; }
tr:nth-child(even)	{ background-color: darkslategray; }

tr:hover  { background-color: lightgray;}

.image-descrip{
    text-shadow: 1px 1px 2px black, 0 0 0em black;
    color: white;
}




  