<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="main-head">Mission To Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="row">
            <div class="col">             
                <h3>Latest Mars News</h3>
                <h4><small>NASA's Next Mars Mission to Investigate Interior of Red Planet</small></h4>
                <p><small>Preparation of NASA's next spacecraft to Mars, Insight has ramped up this summer , on course for launch next May from Vandering Air Force Base in cerntral Califronia -- the first  interplantery launch in history from America's West Coast</small></p>
            </div>
        </div>

        <h2 class="text-center">Mars Hemispheres</h2>
        <hr>
        <div class="row">
            <div class="col">
                <!-- first card -->
                <div class="card">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" alt="flowers in bloom" style="float: right">
                    <div class="card-body">
                        <p class=" card-text">
                        Cerberus Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <!-- second card -->
                <div class="card h-100">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg" alt="tropical flowers">
                    <div class="card-body">
                        <p class=" card-text">
                        Schiaparelli Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
        </div>     
        <br>    
        <div class="row">
            <div class="col">
                <!-- third card -->
                <div class="card">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg" alt="flowers in bloom" style="float: right">
                    <div class="card-body">
                        <p class="card-text">
                        Syrtis Major Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- fourth card -->
                <div class="card h-100">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg" alt="tropical flowers">
                    <div class="card-body">
                        <p class=" card-text">
                        Valles Marineris Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>