<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>
    <div class="container">
        <span class="space"></span>
        <div class="row">
            <div class="col">
                <div class="card shadow-lg">       
                    <div class="jumbotron nasa-logo head-card text-center">
                        <h1 class="main-head">Mars Mission</h1>
                        <p><a class="btn btn-primary btn-lg" href="#" role="button">Scrape New Data</a></p>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <h2 class="latest-title">Latest Mars News</h2>
                <div class="card shadow-lg">
                    <div class="card-body shadow-lg">                 
                        <h3>NASA's Next Mars Mission to Investigate Interior of Red Planet</h3>
                        <p class="news-text"><small>Preparation of NASA's next spacecraft to Mars, Insight has ramped up this summer , on course for launch next May from Vandering Air Force Base in cerntral Califronia -- the first  interplantery launch in history from America's West Coast</small></p>
                        <span><a href="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest" target="_blank">Click here to read more.</a></span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-8">
                <h2 class="featured-title">Featured Mars Image</h2>
                <div class="card shadow-lg featured-img">
                    <img clas="card-img-top shadow-lg" src="https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA22567_ip.jpg" />
                </div>
                <div class="image-descrip">
                    <h4>Cat's Paw Image 2</h4>
                    <p>
                        The Cat's Paw Nebula, imaged here by NASA's Spitzer Space Telescope, is a star-forming region inside the Milky Way Galaxy and is located in the constellation Scorpius. Its distance from Earth is estimated to be between 1.3 kiloparsecs (about 4,200 light years) to 1.7 kiloparsecs (about 5,500 light years).</p>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <h3 class="weather-title">Current Weather on Mars</h3>
                        <div class="card weather shadow-lg">
                            <div class="card-body shadow-lg">
                                <p class="card-text">InSight sol 141 (2019-04-20) low -98.3ºC (-144.9ºF) high -19.7ºC (-3.5ºF)
                                        winds from the SW at 4.7 m/s (10.6 mph) gusting to 12.9 m/s (28.8 mph)
                                        pressure at 7.40 hPa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col">
                        <h3 class="facts-title">Mars Facts</h3>
                        <div class="card facts shadow-lg">
                            <table border="1" class="dataframe">
                                <thead>
                                    <tr style="text-align: right;">
                                        <th></th>
                                        <th>Values</th>
                                    </tr>
                                    <tr>
                                        <th>Description</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Equatorial Diameter:</th>
                                        <td>6,792 km</td>
                                    </tr>
                                    <tr>
                                        <th>Polar Diameter:</th>
                                        <td>6,752 km</td>
                                    </tr>
                                    <tr>
                                        <th>Mass:</th>
                                        <td>6.42 x 10^23 kg (10.7% Earth)</td>
                                    </tr>
                                    <tr>
                                        <th>Moons:</th>
                                        <td>2 (Phobos &amp; Deimos)</td>
                                    </tr>
                                    <tr>
                                        <th>Orbit Distance:</th>
                                        <td>227,943,824 km (1.52 AU)</td>
                                    </tr>
                                    <tr>
                                        <th>Orbit Period:</th>
                                        <td>687 days (1.9 years)</td>
                                    </tr>
                                    <tr>
                                        <th>Surface Temperature:</th>
                                        <td>-153 to 20 °C</td>
                                    </tr>
                                    <tr>
                                        <th>First Record:</th>
                                        <td>2nd millennium BC</td>
                                    </tr>
                                    <tr>
                                        <th>Recorded By:</th>
                                        <td>Egyptian astronomers</td>
                                    </tr>
                                </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <hr>
        <h2 class="hem-title text-center">Mars Hemispheres</h2>
        <hr>
        <div class="row">
            <div class="col">
                <!-- first card -->
                <div class="card shadow-lg">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg" alt="flowers in bloom" style="float: right">
                    <div class="card-body shadow-lg">
                        <p class=" card-text">
                        Cerberus Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- second card -->
                <div class="card shadow-lg">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg" alt="tropical flowers">
                    <div class="card-body shadow-lg">
                        <p class=" card-text">
                        Schiaparelli Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
        </div>     
        <br>    
        <div class="row">
            <div class="col">
                <!-- third card -->
                <div class="card shadow-lg">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg" alt="flowers in bloom" style="float: right">
                    <div class="card-body shadow-lg">
                        <p class="card-text">
                        Syrtis Major Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <!-- fourth card -->
                <div class="card shadow-lg">
                    <img class="card-img-top" src="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg" alt="tropical flowers">
                    <div class="card-body shadow-lg">
                        <p class=" card-text">
                        Valles Marineris Hemisphere Enhanced
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="space"> </div>
    </div>
</body>
</html>